<template bindable="router">

    <confirmation approve-callback></confirmation>

    <div class="top-bar ui menu navbar">
        <div class="left menu">
            <div class="item">
                <i if.bind="isSynced" class="green feed icon"></i>
                <i if.bind="!isSynced" class="red feed icon"></i>
                <a 
                    route-href="route: error-report"
                    if.bind="error"
                >
                    <i class="red alarm icon"></i>
                </a>
            </div>
        </div>
        ${ environment.testing }
        <div class="right menu">

            <a 
                href="#"
                class="item"
                id="WipeAll"
                if.bind="isTest"
                click.delegate="wipeAll()"
            >
                <i class="trash icon"></i>
            </a>

            <a 
                href="#"
                class="item"
                id="ForceReplicate"
                if.bind="isTest"
                click.delegate="replicateAll()"
            >
                <i class="share alternate icon"></i>
            </a>

            <a 
                route-href="route: admin-planning"
                class="item"
                id="AdminPanel"
                if.bind="isAdmin"
            >
                <i class="calculator icon"></i>
            </a>

            <a 
                route-href="route: timesheets"
                class="item"
            >
                <i class="add to calendar icon"></i>
            </a>

            <a 
                route-href="route: planning"
                class="item"
                id="UserPlanning"
            >
                <i class="calendar icon"></i>
            </a>

            <a 
                route-href="route: user"
                class="item"
            >
                <i class="user icon"></i>
            </a>

            <a href="#" class="item" id="Logout" click.delegate="logout()">
                 <i class="sign out icon"></i>
            </a>
            
        </div>
    </div>
</template>