<template bindable="router">

    <confirmation approve-callback></confirmation>

    <div class="top-bar ui menu navbar">
        <div class="right menu">


            <a 
                route-href="route: admin-planning"
                class="item"
                if.bind="isAdmin"
            >
                <i class="calculator icon"></i>
            </a>

            <a 
                route-href="route: timesheets"
                class="item"
            >
                <i class="add to calendar icon"></i>
            </a>

            <a 
                route-href="route: planning"
                class="item"
            >
                <i class="calendar icon"></i>
            </a>

            <a 
                route-href="route: user"
                class="item"
            >
                <i class="user icon"></i>
            </a>

            <a href="#" class="item" click.delegate="logout()">
                 <i class="sign out icon"></i>
            </a>
            
        </div>
    </div>
</template>